<div class="col-md-12 left">
    <h1>Academic collaborator</h1>
</div>
<div class="col-md-12 right">

<div class="slick-keynote">
  <div class="outer_div_slick">
    <div class="images-key-note">
        <img src="https://www.itsengg.edu.in/images/its%20engineering%20college%20logo.png" style="max-width : 100%" alt="axure">
    </div>
    <div> 
        <a href="https://www.itsengg.edu.in/" target="_blank"> <h6>ITS Engineering College Greater Noida</h6></a>
    </div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('.slick-keynote').slick({
    slidesToShow: 3,
    slidesToScroll: 1,
    autoplay: true,
    autoplaySpeed: 2500
  });
});
</script>

</div>