<div class=" col-md-12 left ">
  <h1>Our Sponsors</h1>
</div>

<div class=" col-md-12 right ">


  <div class="slick-publishing">


    <div class="outer_div_slick">
      <div class="images-key-note"><img src="/sponsors/img5.png" style="max-width : 100%" alt="MeitY"></div>
      <div>
        <h6>MeitY</h6>
      </div>
    </div>
    <div class="outer_div_slick">
      <div class="images-key-note"><img src="/sponsors/img4.jpg" style="max-width : 100%" alt="Digital India"></div>
      <div>
        <h6>Digital India</h6>
      </div>
    </div>

    <div class="outer_div_slick">
      <div class="images-key-note"><img src="/sponsors/img6.png" style="max-width : 100%" alt="NeGD"></div>
      <div>
        <h6>NeGD</h6>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready(function () {
      $('.slick-publishing').slick({
        slidesToShow: 2,
        slidesToScroll: 1,
        autoplay: true,
        autoplaySpeed: 2500
      });
    });
  </script>
</div>