<section class="sub-page" id="about_institute">
  <div class="row">
    <div class="col-md-8">
      <div class="left">
        <h1>ICICC 2021</h1>
        <p>
          Fourth version of International Conference in innovative Computing and Communication (ICICC-2021) was organized at Shaheed Sukhdev College of Business Studies in association with National institute of Technology Patna and University of Valladolid, Spain on 20-21 February 2021 at New Delhi, India. ICICC-2021 received 900 papers from approximately 3600 authors and a total of 210 papers were accepted with an acceptance ratio of 23%. All accepted papers were published in Springer’s Advances in Intelligent Systems and Computing, an scopus indexed series. A total of 590 participants attended the conference including authors, keynotes, delegates, academicians, and industry experts. ICICC-2021 received papers from 28 countries. Due to unexpected COVID-19, ICICC-2021 was organized in virtual mode.
        </p>
        <div class="row publish-partner">
            <%= render "icicc21"%>
        </div> 
        <h2>Link of Proceedings of ICICC 2021</h2>
        <ul class="list-group">
            <li class="list-group-item"> 
                <b>Volume 1 :  </b> 
                <a href = "https://www.springer.com/gp/book/9789811625930" target="_blank"> https://www.springer.com/gp/book/9789811625930</a>
            </li>
            <li class="list-group-item"> 
                <b>Volume 2 :  </b> 
                <a href = "https://www.springer.com/gp/book/9789811625961" target="_blank"> https://www.springer.com/gp/book/9789811625961</a>
            </li>
            <li class="list-group-item"> 
              <b>Volume 3 :  </b> 
              <a href = "https://www.springer.com/gp/book/9789811630705" target="_blank"> https://www.springer.com/gp/book/9789811630705</a>
          </li>
        </ul>
      </div>  
    </div>

    <div class="col-md-4">
      <div class="box right">
          <h1 class="custom-font">Important Dates</h1>
          <hr>

          <marquee behavior="" direction="up"  truespeed="true" scrolldelay = "150" onmouseover="this.stop();" onmouseout="this.start();" >
              <% @important_dates.each do |impdate| %>
                  <b><%= impdate.title %></b>
                  <br>
                  <%= impdate.date.to_date.to_formatted_s(:long_ordinal) %>
                  <br><hr />

              <% end %>
            </marquee>
            <span> <a href="/important_dates">Read More...</a> </span>

      </div>
    </div>
  </div>
</section>